
<div class="ui right aligned four cards">
  <div class="card" >
    <a id="clickableCard" href="/security/{{_id}}">
    <section class="ui inverted segment" id="clickableCard">
      <p>
        {{address1}} <br>
        {{address2}} <br>
        {{address3}} <br>
        {{county}} <br>
        {{eircode}}
      </p>
    </section>
    </a>
  </div>
</div>
