<div class="ui right aligned four cards">
  <div class="card">
    <div class="ui inverted segment">
      <p>
        {{address1}} <br>
        {{address2}} <br>
        {{address3}} <br>
        {{county}} <br>
        {{eircode}}
      </p>
    </div>
  </div>
</div>