{{> admin/adminmenu}}

<section class="ui inverted segment">
    <h1 class="title has-text-white">{{beer.beerName}}</h1>
    <h2 class="subtitle has-text-white">{{beer._id}}</h2>
</section>

<div class="ui divider"></div>

<div class="columns">
  <div class="column is-one-quarter">
    <figure class="image is-128x128">
        <img class="is-square" src="data:{{beer.beerImage.contentType}};base64,{{beer.beerImage.data}}" alt="Placeholder image">
    </figure>
  </div>

  <div class="column">
    <form action="/admin/beers/{{beer._id}}" method="POST" enctype="multipart/form-data">
        <div class="field">
            <p class="control has-icons-left has-icons-right">
                <input class="input" type="text" placeholder="{{beer.beerName}}" name="beerName">
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
            </p>
        </div>

        <div class="field">
            <p class="control has-icons-left">
                <input class="input" type="decimal" placeholder="{{beer.beerAvgPrice}}" name="beerAvgPrice">
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </p>
        </div>

        <div class="field">
            <p class="control has-icons-left">
                <span class="select">
                    <select name="beerType">
                        <option selected>{{beer.beerType}}</option>
                        <option value="cider">Cider</option>
                        <option value="larger">Larger</option>
                    </select>
                </span>
                <span class="icon is-small is-left">
                    <i class="fas fa-globe"></i>
                </span>
            </p>
        </div>

        <div id="beerimage" class="file has-name">
            <label class="file-label">
                <input class="file-input" type="file" name="beerImage" accept="image/jpeg,image/gif,image/png,application/pdf,image/x-eps">
                <span class="file-cta">
                    <span class="file-icon">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                        Choose a file…
                    </span>
                </span>
                <span class="file-name" id="beerimage-filename">
                    {{beer.beerImage.name}}
                </span>
            </label>
        </div>

        <br>


        <div class="field">
            <p class="control">
                <button class="button is-success">
                    Submit
                </button>
            </p>
        </div>
    </form>

    <script>
    const fileInput = document.querySelector('#beerimage input[type=file]');
    fileInput.onchange = () => {
        if (fileInput.files.length > 0) {
        const fileName = document.querySelector('#beerimage .file-name');
        fileName.textContent = fileInput.files[0].name;
        }
    }
    </script>
  </div>
</div>





