<table class="ui left aligned unstackable short scrolling very basic table" id="clickableTable">
    <thead>
        <tr>
            {{#with items.[0]}}
            {{#each this}}
            <th>{{@key}}</th>
            {{/each}}
            {{/with}}
        </tr>
    </thead>
    {{#each items}}
    <tbody>
        <tr id="clickableRow-{{@index}}">
            {{#each this}}
                {{#if @first}}
                <td id="clickableRow-href">
                {{this}}
                </td>
                {{else}}
                <td>{{this}}</td>
                {{/if}}
            {{/each}}
            <td>
                <a href='{{../route}}delete/{{this._id}}' method="delete">
                    <span class="icon">
                        <i class="fas fa-trash"></i>
                    </span>
                </a>
            </td>
        </tr>
    </tbody>
    {{/each}}
</table>

<script>
    let route = "{{route}}"
    let numberOfItems = "{{items.length}}"
    clickableTable(numberOfItems, route)
</script>