<table class="ui center aligned fixed table" id="clickableTable">
  <thead>
    <tr>
      <th>Client</th>
      <th>Email</th>
      <th>Deed Boxes</th>
      <th></th>
    </tr>
  </thead>
  {{#each clients}}
  <tbody>
    <tr id="clickableRow-{{@index}}">
      <td id="clickableRow-href-{{@index}}">
        {{_id}}
      </td>
      <td>
        {{email}}
      </td>
      <td>
        {{deedBoxCount}}
      </td>
      <td>
        <a href="admin/client/{{_id}}">
          <i class="bordered grey  link folder icon"></i>
        </a>
      </td>
    </tr>
  </tbody>
  {{/each}}
</table>


<script>
  clickableTable({{clients.length}}, 'admin/client')
</script>