<table class="ui left aligned unstackable short scrolling very basic table">
  <thead>
    <tr>
      <th>Client</th>
      <th>Security Adress</th>
      <th>Request Created</th>
      <th></th>
    </tr>
  </thead>
  {{#each unassignedSecurity}}
  <tbody>
    <tr>
      <td>
        {{client.organisation}}
      </td>
      <td>
        {{address1}}, {{address2}}, {{address3}}, {{eircode}}, {{county}}
      </td>
      <td>
        {{formatDate createdAt 'MM/DD/YYYY'}}
      </td>
      <td>
        <a href="/admin/assigndeedbox/{{_id}}">
          <button class="ui small blue button">Assign Deed Box</button>
        </a>
      </td>
    </tr>
  </tbody>
  {{/each}}
</table>
